body{
  background: rgb(255,146,83);
background: radial-gradient(circle, rgba(255,146,83,1) 70%, rgba(0,0,0,1) 100%);
      font-family: "Roboto", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;   
      color: white;   
}

.voltar{
  font-family: "Roboto", sans-serif;
text-transform: uppercase;
outline: 0;
background: #F25C05;
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
border-radius: 15px;
margin: 10px;

}